
.icon-phone:before { content: '\e800'; } /* '' */
.icon-at:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-truck:before { content: '\e803'; } /* '' */
.icon-undo:before { content: '\e804'; } /* '' */
.icon-phone-outline:before { content: '\e805'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */